@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1160px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 1172px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}
}

.form-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px -15px;
}

.form__column {
	padding: 0px 15px;
}

.btn {
	display: inline-block;
	padding: 0px 0px;
}
.btn.fw {
	width: 100%;
}

.select-block {
	position: relative;
}

.select__label {
	z-index: 2;
	position: absolute;
	top: -8px;
	background-color: #f7f7f7;
	padding: 0 5px;
	color: #979797;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	left: 20px;
}

.select {
	position: relative;
	cursor: pointer;
}
.select .select-title {
	z-index: 1;
	width: 100%;
	height: 55px;
	border: 1px solid #dedede;
	position: relative;
	background-color: #fff;
}
.select .select-title__arrow {
	position: absolute;
	top: 0;
	right: 0px;
	width: 45px;
	height: 100%;
	background: url("../img/icons/select-arrow.svg") center no-repeat;
}
.select .select-title__value {
	color: #000;
	font-weight: 700;
	font-size: 18px;
	line-height: 53px;
	display: block;
	overflow: hidden;
	padding: 0 45px 0 25px;
	white-space: nowrap;
	text-transform: none;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
.select .select-options {
	position: absolute;
	z-index: 10;
	top: 54px;
	display: none;
	overflow: hidden;
	min-width: 100%;
	background-color: #fff;
	border: 1px solid #dedede;
	padding: 10px 20px 10px 25px;
}
.select .select-options-scroll {
	max-height: 80px;
	overflow: auto;
}
.select .select-options-list {
	padding: 0px 0px 0px 0px;
}
.select .select-options__value {
	color: #000;
	font-size: 20px;
	margin: 0px 0px 15px 0px;
}
.select .select-options__value:last-child {
	margin: 0px 0px 0px 0px;
}
.select .select-options__value:hover {
	color: #000;
}

input[type=text], input[type=email], input[type=tel], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}

.check {
	position: relative;
	padding-left: 25px;
	color: #5f5f5f;
	line-height: 18px;
	cursor: pointer;
}
.check input {
	display: none;
}
.check:before {
	content: "";
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #a3a3a3;
	position: absolute;
}
.check.active:before {
	background: url("../img/icons/check.png") center no-repeat;
}

.option {
	position: relative;
	cursor: pointer;
	padding-left: 25px;
	line-height: 16px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 300;
}
.option:last-child {
	margin-bottom: 0px;
}
.option input {
	display: none;
}
.option:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	content: "";
	border: 1px solid #7f7f7f;
	border-radius: 50%;
}
.option.active:before {
	background: url("../img/icons/option.png") center no-repeat;
}

.rating-block {
	display: table;
	font-size: 0;
}

.rating {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.rating.edit .star {
	cursor: pointer;
}
.rating .star {
	width: 17px;
	height: 14px;
	display: inline-block;
	position: relative;
	z-index: 3;
}

.rating__line {
	position: absolute;
	width: 85px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
	z-index: 1;
	background-size: 85px 100%;
}

.rating__activeline {
	position: absolute;
	width: 0px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
	z-index: 2;
	background-size: 85px 100%;
}

.rating__value {
	display: inline-block;
	color: #1b3139;
	font-size: 14px;
	line-height: 13px;
	vertical-align: middle;
}

.quantity {
	position: relative;
	width: 73px;
	height: 47px;
	border: 1px solid #cfcfcf;
	background-color: #ffffff;
}

.quantity__input {
	height: 45px;
	width: 50px;
	text-align: center;
	color: #101010;
	font-weight: 300;
}

.quantity__btn {
	position: absolute;
	top: 11px;
	right: 15px;
	cursor: pointer;
}
.quantity__btn:before {
	font-size: 25px;
	display: inline-block;
	line-height: 10px;
	color: #a9a9a9;
}
.quantity__btn:hover:before {
	color: #da0005;
}
.quantity__btn.dwn {
	top: 25px;
}

.category-params-item-price-table {
	margin-bottom: 25px;
}
.category-params-item-price-table .cell:first-child {
	padding-right: 15px;
	position: relative;
}
.category-params-item-price-table .cell:first-child:after {
	content: "-";
	position: absolute;
	right: -4px;
	top: 8px;
	font-size: 20px;
}
.category-params-item-price-table .cell:last-child {
	padding-left: 15px;
}
.category-params-item-price-table .cell input {
	height: 37px;
	border: 2px solid #393939;
	background-color: #ffffff;
	text-align: center;
	font-size: 12px;
	color: #393939;
	font-weight: 500;
	width: 100%;
}

.category-params-item-price-range {
	margin: 0 12px 40px 12px;
	background-color: #c9cecf;
	height: 2px;
	position: relative;
}
.category-params-item-price-range .ui-slider-range {
	background-color: #000;
	height: 2px;
	position: relative;
}
.category-params-item-price-range .ui-slider-handle {
	width: 23px;
	height: 28px;
	border: 3px solid #fbfbfb;
	background-color: #ea5922;
	display: block;
	position: absolute;
	top: -14px;
	margin-left: -12px;
	cursor: pointer;
}
.category-params-item-price-range .ui-slider-handle span {
	position: absolute;
	bottom: -18px;
	left: 50%;
	width: 50px;
	text-align: center;
	font-size: 10px;
	margin-left: -25px;
	font-weight: 500;
	color: #94a6aa;
}

.form__info {
	position: absolute;
	width: 60px;
	height: 60px;
	right: 0;
	top: 0;
	line-height: 60px;
	text-align: center;
	color: #888;
	z-index: 2;
	font-size: 14px;
}
@media (max-width: 767.98px) {
	.form__info {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
}

.form-range-line {
	position: relative;
	height: 5px;
	border-radius: 0 0 4px 4px;
	background-color: #e0e0e0;
	margin: -2px 0px 0px 0px;
}
.form-range-line .ui-slider-range {
	background-color: #093454;
	height: 5px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0 0 4px 4px;
}
.form-range-line .ui-slider-handle {
	background: url("../img/icons/range.svg") 0 0 no-repeat;
	width: 28px;
	height: 28px;
	position: absolute;
	margin: -9px 0px 0px -14px;
	top: 0;
	left: 0;
	cursor: pointer;
}
.form-range-line .ui-state-hover {
	background: url("../img/icons/range_a.svg") 0 0 no-repeat;
}

.form-range-values {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 14px 0px 0px 0px;
}

.form-range-values__item {
	font-size: 12px;
	color: #888;
}

.row:after {
	display: block;
	content: "";
	clear: both;
}

.rub:after {
	content: "₽";
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ol.counter {
	list-style-type: none;
	counter-reset: item;
}
ol.counter li {
	position: relative;
	padding: 0px 0px 0px 45px;
}
ol.counter li:before {
	counter-increment: item;
	content: counter(item);
	position: absolute;
	left: 0;
	top: 0;
	color: #818181;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	border: 1px solid #4274bb;
}

.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.es {
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.table {
	display: table;
	font-size: 0;
	width: 100%;
}

.trow {
	display: table-row;
}

.cell {
	display: table-cell;
}
.cell.full {
	width: 100%;
}

.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
}

body.ie .ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
body.ie .ibg img {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	    -ms-transform: translateX(-50%) translateY(-50%);
	        transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

.moretext {
	overflow: hidden;
}

.moretext__more {
	cursor: pointer;
}
.moretext__more span {
	font-style: normal;
}
.moretext__more span:first-child {
	display: block;
}
.moretext__more span:last-child {
	display: none;
}
.moretext__more.active span {
	font-style: normal;
}
.moretext__more.active span:first-child {
	display: none;
}
.moretext__more.active span:last-child {
	display: block;
}

.graystyle {
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

.graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}

.slick-slider {
	position: relative;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.slick-slider .slick-track {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.slick-slider .slick-slide {
	position: relative;
}
.tab__item {
	display: none;
}
.tab__item.active {
	display: block;
}

.mirror {
	-webkit-transform: scale(-1, 1);
	    -ms-transform: scale(-1, 1);
	        transform: scale(-1, 1);
}

.nicescroll-rails {
	z-index: 1000 !important;
}

.gm-style-iw-t {
	opacity: 0;
}

.baloon {
	opacity: 1;
	right: -7px !important;
	bottom: 80px !important;
}
.baloon button {
	display: none !important;
}
.baloon:after {
	display: none !important;
}

.baloon-style {
	display: none;
}

.baloon-content.gm-style-iw {
	opacity: 1;
	border-radius: 0px !important;
	max-width: 300px !important;
	padding: 0 !important;
	left: 0 !important;
	width: 100% !important;
	overflow: visible !important;
}
.baloon-content.gm-style-iw > .gm-style-iw-d {
	overflow: hidden !important;
	max-width: none !important;
}
.baloon-content.gm-style-iw:after {
	display: none !important;
}

.baloon-close {
	top: 18px !important;
}

.popup {
	-webkit-overflow-scrolling: touch;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	position: fixed !important;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 100;
}
.popup.active .popup-content {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.popup.show {
	display: block;
}
.popup.show .popup-content {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}

.popup-table {
	height: 100%;
	table-layout: fixed;
}
.popup-table > .cell {
	height: 100%;
	vertical-align: middle;
	padding: 30px 10px;
}

.popup-content {
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	position: relative;
	max-width: 560px;
	margin: 0px auto;
	background-color: #fff;
	padding: 50px 40px 60px 40px;
}
@media (max-width: 375px) {
	.popup-content {
		padding: 50px 10px 60px 10px;
	}
}

.popup-close {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 135px;
	right: 50px;
	cursor: pointer;
	background: url(../img/icons/close.svg) 0 0 no-repeat;
}
@media (max-width: 442px) {
	.popup-close {
		top: 168px;
	}
}
@media (max-width: 375px) {
	.popup-close {
		right: 15px;
	}
}

.close-popup2 {
	top: 5px;
	right: 5px;
}

.popup-video .popup-close {
	width: 40px;
	height: 40px;
	background-color: #000;
	top: 0;
	right: 0;
}

.popup__title {
	font-family: Roboto, Arial, sans-serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	color: #000;
	margin: 0px 0px 35px 0px;
}
.popup__txt {
	padding: 15px 0px 15px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	margin: 0px 0px 35px 0px;
}
.popup__txt_name {
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 25px;
	color: #000;
}
.popup__txt_price {
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	color: #000;
	padding: 0px 65px 0px 0px;
}
@media (max-width: 442px) {
	.popup__txt_price {
		padding: 0px 30px 0px 0px;
	}
}
.popup__total {
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 25px;
	color: #000;
	text-align: right;
}
.popup__input-title {
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	color: #000;
}

.input {
	border: 1px solid #000;
	max-width: 480px;
	height: 55px;
	margin: 0px 0px 25px 0px;
	font-size: 18px;
}

.btn {
	max-width: 480px;
	height: 60px;
	color: #fff;
	background-color: #000;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	-moz-user-select: none;
	-webkit-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.header__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 18px 40px;
}
@media (max-width: 370px) {
	.header__row {
		padding: 18px 10px;
	}
}
.header__logo {
	width: 150px;
	height: 40px;
}
.header__logo img {
	max-width: 100%;
}
.footer {
	background-color: #6242fb;
	padding: 30px 35px;
}
.footer__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer-copyright {
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	color: #fff;
}

.footer-up_link {
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	color: #fff;
}
.footer-up_link span {
	font-weight: 900;
	font-size: 16px;
}

html {
	scroll-behavior: smooth;
}

* {
	outline: 0 !important;
}

.main-block {
	height: 100vh;
	position: relative;
}
.main-block__content {
	height: 62vh;
	padding: 24% 0px 0px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-height: 720px) {
	.main-block__content {
		padding: 16% 0px 0px 0px;
	}
}
@media (max-height: 490px) {
	.main-block__content {
		padding: 10% 0px 0px 0px;
	}
}
@media (max-height: 400px) {
	.main-block__content {
		padding: 5% 0px 0px 0px;
	}
}
.main-block__title {
	text-align: center;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 600;
	font-size: calc(24px + 16 * ((100vw - 320px) / 840));
	color: #ffffff;
}
.main-block__text {
	text-align: center;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 300;
	font-size: calc(16px + 4 * ((100vw - 320px) / 840));
	letter-spacing: 0.3px;
	color: #ffffff;
}
.main-block__signUp_link {
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: 361px;
	height: 60px;
	background: #ffffff;
	border-radius: 30px;
	font-family: Roboto;
	font-weight: 700;
	font-size: 16px;
	color: #000000;
	letter-spacing: -0.5px;
}
@media (max-width: 500px) {
	.main-block__signUp_link {
		max-width: 250px;
		height: 40px;
		font-size: 14px;
		position: relative;
		top: 70px;
	}
}
@media (max-height: 415px) {
	.main-block__signUp_link {
		max-width: 250px;
		height: 40px;
		font-size: 14px;
	}
}
.main-block__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.advantages {
	padding: 120px 0px;
}
@media (max-width: 1200px) {
	.advantages {
		padding: 70px 0px;
	}
}
@media (max-width: 826px) {
	.advantages {
		padding: 30px 0px;
	}
}
.advantages__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px -15px;
}
@media (max-width: 826px) {
	.advantages__row {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		margin: 0px 0;
	}
}
@media (max-width: 480px) {
	.advantages__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}
.advantages__item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 25%;
	        flex: 0 0 25%;
	padding: 0px 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 826px) {
	.advantages__item {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 50%;
		        flex: 0 0 50%;
		margin: 0px 0px 40px 0px;
	}
}
@media (max-width: 480px) {
	.advantages__item {
		max-width: 350px;
	}
}
.advantages__item_icon {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 100%;
	        flex: 0 1 100%;
	max-width: 60px;
	margin: 0px 0px 35px 0px;
}
.advantages__item_icon img {
	max-width: 100%;
}
.advantages__item_text {
	text-align: center;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: -0.5px;
	color: #242424;
}
.advantages__text_1 {
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	transform: translate3d(50%, 0px, 0px);
	-webkit-transform: translate3d(50%, 0px, 0px);
	-ms-transform: translate3d(50%, 0px, 0px);
	-o-transform: translate3d(50%, 0px, 0px);
	-moz-transform: translate3d(50%, 0px, 0px);
	opacity: 0;
}
.advantages__text_1.magic {
	transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	opacity: 1;
}
.advantages__text_2 {
	-webkit-transition: all 0.5s ease 0.2s;
	-o-transition: all 0.5s ease 0.2s;
	transition: all 0.5s ease 0.2s;
	transform: translate3d(50%, 0px, 0px);
	-webkit-transform: translate3d(50%, 0px, 0px);
	-ms-transform: translate3d(50%, 0px, 0px);
	-o-transform: translate3d(50%, 0px, 0px);
	-moz-transform: translate3d(50%, 0px, 0px);
	opacity: 0;
}
.advantages__text_2.magic {
	transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	opacity: 1;
}
.advantages__text_3 {
	padding: 0px 10px;
	-webkit-transition: all 0.5s ease 0.4s;
	-o-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
	transform: translate3d(50%, 0px, 0px);
	-webkit-transform: translate3d(50%, 0px, 0px);
	-ms-transform: translate3d(50%, 0px, 0px);
	-o-transform: translate3d(50%, 0px, 0px);
	-moz-transform: translate3d(50%, 0px, 0px);
	opacity: 0;
}
.advantages__text_3.magic {
	transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	opacity: 1;
}
.advantages__text_4 {
	padding: 0px 10px;
	-webkit-transition: all 0.5s ease 0.6s;
	-o-transition: all 0.5s ease 0.6s;
	transition: all 0.5s ease 0.6s;
	transform: translate3d(50%, 0px, 0px);
	-webkit-transform: translate3d(50%, 0px, 0px);
	-ms-transform: translate3d(50%, 0px, 0px);
	-o-transform: translate3d(50%, 0px, 0px);
	-moz-transform: translate3d(50%, 0px, 0px);
	opacity: 0;
}
.advantages__text_4.magic {
	transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	opacity: 1;
}
.advantages__icon_1 {
	max-width: 70px;
}

.signUp {
	padding: 65px 0px 0px 0px;
}
@media (max-width: 997px) {
	.signUp {
		padding: 35px 0px 30px 0px;
	}
}
.signUp__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	background-color: #6242fb;
	border-radius: 10px;
}
@media (max-width: 997px) {
	.signUp__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		max-width: 620px;
		margin: 0 auto;
	}
}
.signUp__left {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	padding: 85px 60px 0px 60px;
}
@media (max-width: 997px) {
	.signUp__left {
		padding: 85px 30px 0px 30px;
		text-align: center;
	}
}
@media (max-width: 624px) {
	.signUp__left {
		padding: 40px 10px 0px 10px;
	}
}
.signUp__title {
	opacity: 0;
	-ms-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transition: all 0.6s ease 0s;
	-o-transition: all 0.6s ease 0s;
	transition: all 0.6s ease 0s;
	margin: 0px 0px 76px 0px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 50px;
	font-weight: 700;
	line-height: 58px;
	color: #fff;
}
.signUp__title.magic {
	opacity: 1;
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.signUp__title span {
	text-decoration: line-through;
}
@media (max-width: 997px) {
	.signUp__title {
		margin: 0px 0px 75px 0px;
	}
}
@media (max-width: 624px) {
	.signUp__title {
		margin: 0px 0px 40px 0px;
		font-size: 40px;
	}
}
.signUp__btn {
	width: 410px;
	height: 55px;
	background-color: #ffffff;
	border-radius: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family: Roboto, Arial, sans-serif;
	font-size: 21px;
	font-weight: 600;
	line-height: 33px;
	color: #38479c;
	margin: 0 auto;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	outline: none;
}
.signUp__btn:focus {
	outline: none;
}
@media (max-width: 997px) {
	.signUp__btn_1 {
		display: none;
	}
}
.signUp__btn_2 {
	display: none;
}
@media (max-width: 997px) {
	.signUp__btn_2 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 50px auto;
	}
}
@media (max-width: 480px) {
	.signUp__btn_2 {
		width: 280px;
	}
}
.signUp__right {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 450px;
	        flex: 0 0 450px;
	padding: 95px 50px 95px 50px;
	position: relative;
}
.signUp__right:before {
	content: "";
	position: absolute;
	width: 3px;
	height: 350px;
	background-color: #9984fc;
	left: 0;
	top: 50px;
}
@media (max-width: 997px) {
	.signUp__right {
		padding: 0px 30px 0px 50px;
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 auto;
		        flex: 0 0 auto;
		margin: 0px 0px 60px 0px;
	}
	.signUp__right:before {
		display: none;
		width: 550px;
		height: 3px;
		left: auto;
		top: 240px;
	}
}
@media (max-width: 624px) {
	.signUp__right {
		margin: 0px 0px 30px 0px;
	}
}
.signUp__item {
	padding: 0px 0px 0px 55px;
	font-family: Roboto, Arial, sans-serif;
	color: #fff;
	font-size: 22px;
	line-height: 34px;
	margin: 0px 0px 40px 0px;
}
.signUp__item:last-child {
	margin: 0;
}
@media (max-width: 624px) {
	.signUp__item {
		font-size: 18px;
	}
}
.signUp__item1 {
	background: url(../../img/signUp/signUp_1.webp) left 50% no-repeat;
}
.signUp__item2 {
	background: url(../../img/signUp/signUp_2.webp) left 50% no-repeat;
}
.signUp__item3 {
	background: url(../../img/signUp/signUp_3.webp) left 50% no-repeat;
}

.onlineLearning {
	padding: 160px 0px 0px 0px;
}
@media (max-width: 1172px) {
	.onlineLearning {
		padding: 80px 0px 0px 0px;
	}
}
@media (max-width: 750px) {
	.onlineLearning {
		padding: 40px 0px 0px 0px;
	}
}
.onlineLearning__title {
	padding: 0px 15% 0px 0px;
	margin: 0px 0px 40px 0px;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 600;
	font-size: 52px;
	line-height: 64px;
	color: #850576;
}
@media (max-width: 1172px) {
	.onlineLearning__title {
		margin: 0px 0px 20px 0px;
	}
}
@media (max-width: 997px) {
	.onlineLearning__title {
		padding: 0px 0px 0px 0px;
		text-align: center;
	}
}
@media (max-width: 750px) {
	.onlineLearning__title {
		font-size: 42px;
		line-height: 48px;
	}
}
@media (max-width: 438px) {
	.onlineLearning__title {
		ont-size: 32px;
		line-height: 40px;
	}
}
.onlineLearning__subtitle {
	padding: 0px 50% 0px 0px;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 300;
	font-size: 24px;
	line-height: 36px;
	color: #6b6b6b;
	margin: 0px 0px 100px 0px;
}
@media (max-width: 1172px) {
	.onlineLearning__subtitle {
		margin: 0px 0px 70px 0px;
	}
}
@media (max-width: 997px) {
	.onlineLearning__subtitle {
		text-align: center;
		padding: 0px 20% 0px 20%;
	}
}
@media (max-width: 750px) {
	.onlineLearning__subtitle {
		font-size: 20px;
		line-height: 30px;
		margin: 0px 0px 30px 0px;
	}
}
.slider-onlineLearning {
	margin: 0px -20px;
	/* Слайдер */
	/* Слайдер запущен */
	/* Слайдер с точками */
	/* Ограничивающая оболочка */
	/* Лента слайдов */
	/* Слайд */
	/* Слайд активный (показывается) */
	/* Слайд основной */
	/* Слайд по центру */
	/* Клонированный слайд */
	/* Стрелка */
	/* Стрелка влево */
	/* Стрелка вправо */
	/* Стрелка не активная */
	/* Точки (булиты) */
	/* Активная точка */
	/* Элемент точки */
}
@media (max-width: 640px) {
	.slider-onlineLearning {
		margin: 0;
	}
}
.slider-onlineLearning .slick-list {
	max-width: 1200px;
	padding: 0px 20px;
	margin: 0 auto;
}
@media (max-width: 1200px) {
	.slider-onlineLearning .slick-list {
		max-width: 1100px;
	}
}
.slider-onlineLearning .slick-arrow {
	position: absolute;
	top: 50%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(0, 139, 204, 0.7);
	z-index: 5;
}
.slider-onlineLearning .slick-arrow:before {
	content: "";
	border: solid #fff;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}
.slider-onlineLearning .slick-arrow.slick-prev {
	-ms-transform: rotate(135deg);
	    transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	left: 25px;
}
.slider-onlineLearning .slick-arrow.slick-next {
	-ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	right: 25px;
}
.slider-onlineLearning__item {
	width: 50%;
	max-height: 420px;
	padding: 0px 20px;
}
.slider-onlineLearning__item img {
	max-width: 100%;
	min-height: 100%;
}
@media (max-width: 640px) {
	.slider-onlineLearning__item {
		width: 80%;
	}
}

.motivation {
	padding: 180px 0px 0px 0px;
}
@media (max-width: 1172px) {
	.motivation {
		padding: 90px 0px 0px 0px;
	}
}
.motivation__title {
	opacity: 0;
	-webkit-transition: all 2s ease 0s;
	-o-transition: all 2s ease 0s;
	transition: all 2s ease 0s;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 600;
	font-size: 52px;
	line-height: 64px;
	color: #850576;
	margin: 0px 0px 50px 0px;
}
.motivation__title.magic {
	opacity: 1;
}
@media (max-width: 997px) {
	.motivation__title {
		text-align: center;
	}
}
@media (max-width: 634px) {
	.motivation__title {
		font-size: 40px;
		line-height: 50px;
	}
}
.motivation__subtitle {
	opacity: 0;
	-webkit-transition: all 2s ease 0s;
	-o-transition: all 2s ease 0s;
	transition: all 2s ease 0s;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 300;
	font-size: 24px;
	line-height: 36px;
	color: #6b6b6b;
	margin: 0px 0px 60px 0px;
	padding: 0px 50% 0px 0px;
}
.motivation__subtitle.magic {
	opacity: 1;
}
@media (max-width: 997px) {
	.motivation__subtitle {
		padding: 0;
		text-align: center;
	}
}
@media (max-width: 634px) {
	.motivation__subtitle {
		font-size: 20px;
		line-height: 28px;
	}
}
.motivation__gallery {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
@media (max-width: 991px) {
	.motivation__gallery {
		display: block;
	}
}

.gallery__column {
	margin: 0px 20px 0px 0px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
	height: 570px;
	position: relative;
}
@media (max-width: 1200px) {
	.gallery__column {
		height: 460px;
	}
}
@media (max-width: 991px) {
	.gallery__column {
		padding: 0;
		margin: 0px 0px 20px 0px;
	}
}
.gallery__column_bigBG {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.gallery__min {
	padding: 0px 20px 0px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 991px) {
	.gallery__min {
		padding: 0;
	}
}
.gallery__min_item {
	position: relative;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 48%;
	        flex: 0 0 48%;
	height: 48%;
	margin: 0px 0px 23px 0px;
}
@media (max-width: 1200px) {
	.gallery__min_item {
		margin: 0px 0px 18px 0px;
	}
}
.gallery__min_itemBG {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.progress {
	padding: 135px 0px 130px 0px;
}
@media (max-width: 1172px) {
	.progress {
		padding: 75px 0px 130px 0px;
	}
}
.progress__label {
	opacity: 0;
	-webkit-transition: all 2s ease 0s;
	-o-transition: all 2s ease 0s;
	transition: all 2s ease 0s;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: #b0b0b0;
	margin: 0px 0px 75px 0px;
}
.progress__label.magic {
	opacity: 1;
}
@media (max-width: 1172px) {
	.progress__label {
		margin: 0px 0px 35px 0px;
	}
}
.progress__title {
	opacity: 0;
	-webkit-transition: all 2s ease 0s;
	-o-transition: all 2s ease 0s;
	transition: all 2s ease 0s;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 600;
	font-size: 52px;
	line-height: 64px;
	color: #850576;
	margin: 0px 0px 45px 0px;
}
.progress__title.magic {
	opacity: 1;
}
@media (max-width: 1172px) {
	.progress__title {
		margin: 0px 0px 25px 0px;
	}
}
@media (max-width: 997px) {
	.progress__title {
		text-align: center;
	}
}
@media (max-width: 634px) {
	.progress__title {
		font-size: 40px;
		line-height: 50px;
	}
}
.progress__subtitle {
	opacity: 0;
	-webkit-transition: all 2s ease 0s;
	-o-transition: all 2s ease 0s;
	transition: all 2s ease 0s;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 300;
	font-size: 24px;
	line-height: 36px;
	color: #6b6b6b;
	margin: 0px 0px 65px 0px;
}
.progress__subtitle.magic {
	opacity: 1;
}
@media (max-width: 1172px) {
	.progress__subtitle {
		margin: 0px 0px 35px 0px;
	}
}
@media (max-width: 997px) {
	.progress__subtitle {
		text-align: center;
	}
}
.progress__row {
	opacity: 0;
	-webkit-transition: all 2s ease 0s;
	-o-transition: all 2s ease 0s;
	transition: all 2s ease 0s;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.progress__row.magic {
	opacity: 1;
}
@media (max-width: 991px) {
	.progress__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}
.progress__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
}
.progress__column_text {
	padding: 0px 40px 0px 40px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 28px;
	font-weight: 300;
	line-height: 45px;
	color: #000;
}
@media (max-width: 553px) {
	.progress__column_text {
		padding: 0px 10px 0px 10px;
		font-size: 22px;
	}
}
@media (max-width: 420px) {
	.progress__column_text {
		margin: -20px 0px 0px 0px;
	}
}
@media (max-width: 375px) {
	.progress__column_text {
		margin: -50px 0px 0px 0px;
	}
}
@media (max-width: 346px) {
	.progress__column_text {
		margin: -100px 0px 0px 0px;
	}
}
@media (max-width: 991px) {
	.progress__slider {
		margin: 0px 0px 25px 0px;
	}
}
@media (max-width: 445px) {
	.progress__slider {
		margin: 0px 0px 10px 0px;
	}
}
@media (max-width: 394px) {
	.progress__slider {
		margin: 0;
	}
}

.slider-progress {
	/* Слайдер */
	/* Слайдер запущен */
	/* Слайдер с точками */
	/* Ограничивающая оболочка */
	/* Лента слайдов */
	/* Слайд */
	/* Слайд активный (показывается) */
	/* Слайд основной */
	/* Слайд по центру */
	/* Клонированный слайд */
	/* Стрелка */
	/* Стрелка влево */
	/* Стрелка вправо */
	/* Стрелка не активная */
	/* Точки (булиты) */
	/* Активная точка */
	/* Элемент точки */
}
.slider-progress__item img {
	max-width: 100%;
	max-height: 100%;
}
.slider-progress .slick-list {
	max-width: 580px;
	height: 455px;
	text-align: center;
}
@media (max-width: 991px) {
	.slider-progress .slick-list {
		max-width: 900px;
	}
}
.slider-progress .slick-arrow {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgba(0, 139, 204, 0.7);
	z-index: 5;
}
.slider-progress .slick-arrow:before {
	content: "";
	border: solid #fff;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}
@media (max-width: 434px) {
	.slider-progress .slick-arrow {
		top: 40%;
	}
}
@media (max-width: 350px) {
	.slider-progress .slick-arrow {
		top: 35%;
	}
}
.slider-progress .slick-arrow.slick-prev {
	-ms-transform: rotate(135deg);
	    transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	left: 35px;
}
.slider-progress .slick-arrow.slick-next {
	-ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	right: 35px;
}
.slider-progress .slick-dots {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: absolute;
	bottom: 10%;
	left: 42.3%;
}
@media (max-width: 440px) {
	.slider-progress .slick-dots {
		bottom: 20%;
	}
}
@media (max-width: 394px) {
	.slider-progress .slick-dots {
		bottom: 25%;
		left: 38%;
	}
}
@media (max-width: 366px) {
	.slider-progress .slick-dots {
		bottom: 30%;
	}
}
@media (max-width: 343px) {
	.slider-progress .slick-dots {
		bottom: 35%;
	}
}
.slider-progress .slick-dots li {
	margin: 0px 30px 0px 0px;
}
.slider-progress .slick-dots li.slick-active button {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #cf0ba1;
}
.slider-progress .slick-dots li button {
	font-size: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ebebeb;
}

.complex {
	background-color: #5d53c9;
	position: relative;
	padding: 125px 0px 0px 0px;
}
@media (max-width: 991px) {
	.complex {
		padding: 85px 0px 0px 0px;
	}
}
.complex__title {
	font-family: Roboto, Arial, sans-serif;
	font-size: 52px;
	font-weight: 700;
	color: #fff;
	margin: 0px 0px 28px 0px;
}
@media (max-width: 991px) {
	.complex__title {
		font-size: 35px;
		line-height: 54px;
		margin: 0px 0px 15px 0px;
	}
}
@media (max-width: 570px) {
	.complex__title {
		text-align: center;
	}
}
.complex__subtitle {
	font-family: Roboto, Arial, sans-serif;
	font-size: 28px;
	line-height: 44px;
	color: #fff;
	margin: 0px 0px 105px 0px;
	padding: 0px 55% 0px 0px;
}
@media (max-width: 991px) {
	.complex__subtitle {
		margin: 0px 0px 75px 0px;
		padding: 0px 35% 0px 0px;
		font-size: 22px;
		line-height: 34px;
	}
}
@media (max-width: 570px) {
	.complex__subtitle {
		text-align: center;
		padding: 0 50px;
	}
}
.complex__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 991px) {
	.complex__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}
.complex__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 26%;
	        flex: 0 0 26%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
@media (max-width: 991px) {
	.complex__column {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
}
@media (max-width: 570px) {
	.complex__column {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		text-align: center;
		margin: 0px 0px 30px 0px;
	}
}
.complex__column_img {
	margin: 0px 0px 35px 0px;
}
.complex__column_text {
	font-family: Roboto, Arial, sans-serif;
	font-size: 23px;
	font-weight: 700;
	line-height: 36px;
	color: #fff;
}
@media (max-width: 991px) {
	.complex__column_text {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		font-size: 0;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		font-size: 23px;
		padding: 0px 100px 0px 60px;
	}
}
@media (max-width: 744px) {
	.complex__column_text {
		padding: 0px 50px 0px 50px;
	}
}
.complex__column_middle > .complex__column_img {
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
	margin: 35px 0px 0px 0px;
}
@media (max-width: 991px) {
	.complex__column_middle > .complex__column_img {
		-webkit-box-ordinal-group: 1;
		    -ms-flex-order: 0;
		        order: 0;
		margin: 0px 0px 35px 0px;
	}
}
.complex__dumbbells {
	-webkit-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
	transform: translate3d(-120%, 0px, 0px);
	-webkit-transform: translate3d(-120%, 0px, 0px);
	-ms-transform: translate3d(-120%, 0px, 0px);
	-o-transform: translate3d(-120%, 0px, 0px);
	-moz-transform: translate3d(-120%, 0px, 0px);
	opacity: 0;
	height: 220px;
	position: relative;
	bottom: -30px;
	left: -150px;
}
.complex__dumbbells.magic {
	transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	opacity: 1;
}
@media (max-width: 991px) {
	.complex__dumbbells.magic {
		height: 100px;
		left: 300px;
		top: -25px;
		-ms-transform: scale(0.7);
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
	}
}
@media (max-width: 570px) {
	.complex__dumbbells.magic {
		-ms-transform: scale(0.6);
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
		left: -70px;
		top: 0px;
	}
}
@media (max-width: 991px) {
	.complex__dumbbells {
		height: 100px;
		left: 300px;
		top: -25px;
		-ms-transform: scale(0.7);
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
	}
}
@media (max-width: 570px) {
	.complex__dumbbells {
		-ms-transform: scale(0.6);
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
		left: -70px;
		top: 0px;
	}
}
.complex__hand {
	-webkit-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
	transform: translate3d(120%, 0px, 0px);
	-webkit-transform: translate3d(120%, 0px, 0px);
	-ms-transform: translate3d(120%, 0px, 0px);
	-o-transform: translate3d(120%, 0px, 0px);
	-moz-transform: translate3d(120%, 0px, 0px);
	opacity: 0;
	position: absolute;
	top: -90px;
	right: -50px;
}
.complex__hand.magic {
	transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	opacity: 1;
}
@media (max-width: 991px) {
	.complex__hand.magic {
		-ms-transform: scale(0.7);
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
		top: -110px;
		right: -150px;
	}
}
@media (max-width: 570px) {
	.complex__hand.magic {
		-ms-transform: scale(0.55);
		-webkit-transform: scale(0.55);
		transform: scale(0.55);
		top: -220px;
		right: -130px;
	}
}
@media (max-width: 991px) {
	.complex__hand {
		-ms-transform: scale(0.7);
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
		top: -110px;
		right: -150px;
	}
}
@media (max-width: 570px) {
	.complex__hand {
		-ms-transform: scale(0.55);
		-webkit-transform: scale(0.55);
		transform: scale(0.55);
		top: -220px;
		right: -130px;
	}
}

.signUp_bottom {
	padding: 170px 0px 50px 0px;
}